body {
  padding-top: 61px;
}
.navbar {
  background-color: #1cbfa7;
  border-color: #1cbfa7;
}
.navbar .nav.navbar-nav a {
  color: #fff;
}
.navbar-header a.navbar-brand {
  padding-bottom: 15px;
  padding-top: 15px;
}
.navbar-header a.navbar-brand h6 {
  color: #ccc;
}
.panel-primary>.panel-heading {
  background-color: #3c3b3d;
  border-color: #3c3b3d;
}
.panel-primary {
  border-color: #3c3b3d;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
}
footer p {
  border-top: 1px solid #d7e0e2;
}
.navbar-form .form-group {
  margin-left: 10px;
}
.navbar-form button {
  margin-left: 10px;
  background-color: #3c3b3d;
  border-color: #3c3b3d;
}
.navbar-form button:hover {
  margin-left: 10px;
  background-color: #635f5f;
  border-color: #635f5f;
}
.toast-top-right {
  top: 70px;
}
.toast-success {
  background-color: #1cbfa7;
}
