extends ../includes/layout

block main-content
  .navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        //- a.navbar-brand(href="/") The Queue
      .navbar-collapse.collapse
        ul.nav.navbar-nav
          li
            a(href="/") Home
        //- TODO: figure out this as a partial
        //- div(ng-include="views/partials/navbar-login")
        div.navbar-right(ng-cloak ng-controller="navbarLoginCtrl")
          form.navbar-form(ng-hide="identity.isAuthenticated()")
            ul.nav.navbar-nav
              li
                a(href="/signup") Sign Up
            .form-group
              input.form-control(placeholder="Email", ng-model="username", autofocus)
            .form-group
              input.form-control(type="password", placeholder="Password", ng-model="password")
            button.btn.btn-primary(ng-click="signIn(username, password)") Sign In
          ul.nav.navbar-nav.navbar-right(ng-show="identity.isAuthenticated()")
            li.dropdown
              a.dropdown-toggle(href="", data-toggle="dropdown")
                | {{identity.currentUser.firstName + " " + identity.currentUser.lastName + " "}}
                b.caret
              ul.dropdown-menu
                li(ng-show="identity.currentUser.isAdmin()")
                  a(href="/admin/user") User Admin
                li
                  a(href="/profile") Profile
                li
                  a(href="", ng-click="signOut()") Sign Out
            
  section.content
    div(ng-view)
  
  footer.container.text-center
    p &copy; 2016 Cirquitree
