.container
  .jumbotron
    h1 The Queue
    p Welcome to the Queue! A system created to help you reach your educational goals. 
    p We do this by giving you a few Chips - a crypto-currency that you can use to stop worrying about debt, and start focusing on the things that matter.
    
  .row
    .col-md-6
      div(ng-include="'/partials/main/featured-courses'")
      
    .col-md-6
      div(ng-include="'/partials/main/new-courses'")
      
